@import 'colors.css';

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h1 {
    background-color: var(--primary-color);
    color: #ff0000;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: center;
}

h2 {
    margin-bottom: 15px;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

strong {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.btn-criar-cardapio {
    display: inline-block;
    margin: 15px 0;
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}

.btn-criar-cardapio:hover {
    background-color: var(--submit-hover-color);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--input-border-color);
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    font-size: 24px;
    margin: 0;
}

/* .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
} */

/* form {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input:focus,
textarea:focus,
select:focus {
    border-color: var(--primary-color);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(254, 121, 63, 0.6);
}

button[type="submit"],
button[type="button"],
button[type="adicionarPratoBtn"] {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: var(--submit-hover-color);
}

.dish-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.dish-item {
    flex-basis: 48%;
    background-color: var(--secondary-background-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    position: relative;
}

.dish-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.dish-description {
    font-size: 14px;
    margin-bottom: 10px;
}

.dish-price {
    font-size: 16px;
    font-weight: bold;
}

.btn-edit-dish,
.btn-delete-dish {
    position: absolute;
    top: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
}

.btn-edit-dish {
    right: 35px;
    color: var(--edit-color);
}

.btn-edit-dish:hover {
    color: var(--edit-hover-color);
}

.btn-delete-dish {
    right: 5px;
    color: var(--delete-color);
}

.btn-delete-dish:hover {
    color: var(--delete-hover-color);
}

/* Estilo da tabela */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th,
.table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.table th {
    background-color: var(--primary-color);
    color: #ffffff;
}

.table tr:hover {
    background-color: #f9f9f9;
}

/* Estilo dos botões */
#adicionarPratoBtn {
    display: inline-block;
    margin-bottom: 15px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

#adicionarPratoBtn:hover {
    background-color: var(--submit-hover-color);
}

.btn-editar {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-editar:hover {
    background-color: var(--secondary-hover-color);
}

.btn-danger {
    background-color: var(--danger-color);
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-danger:hover {
    background-color: var(--danger-hover-color);
}
